doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        // CSS only
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
        // JavaScript Bundle with Popper
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous')
        //green sock
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
        //animate css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel='stylesheet' href='./client/event.css')
        title Eareyes
    body.align-items-center.justify-content-center.d-flex.flex-column
        p.h1 pseudo magic 
        p.h2 coding
        .d-flex.ru.flex-column.mx-3
            p.h3 Instructions 
            br
            p.h6 1. Individual event.
            br 
            p.h6 2. Both preliminary and main event will be conducted through HACKERANK platform
            br 
            p.h4 PRELIMS:
            br
            p.h6 Note: prelims will be conducted only if only of participants exceeds the threshold.
            br
            p.h6 1. Preliminary round will be conducted through online mode.
            br
            p.h6 2. Preliminary round will contain 3 competitive coding questions and duration will be around 30 minutes.
            br
            p.h6 3. Participants can code in their preferred languages. 4. Shortlisted candidates will only be allowed to attend the main event.
            br
            p.h4 Main Event:
            br
            p.h6 1. Computers will be provided to the participants during the event.
            br
            p.h6 2. The level of difficulty will be increased.
            br
            p.h6 3. Duration of the contest will be 1 hour.
            br
            p.h6 4. Leaderboard will be based on time and space complexity.
            br
            p.h6 5. Winner and runner will be announced on validatory function at the end of the day. 
        .d-flex.flex-column.w-75#form.align-items-center.justify-content-center
            form.needs-validation(action="event3_d", method="post", novalidate)
                 
                .form-floating.mb-3.mt-3
                    input.form-control(type="text",name="name",required)
                    label(for="name")  Name 
                .form-floating.mb-3.mt-3
                    input.form-control(type="text", name="rollno",required)
                    label(for="rollno")  Roll No
                .form-floating.mb-3.mt-3
                    input.form-control(type="email", name="email",required)
                    label(for="email")  Email
                .form-floating.mb-3.mt-3
                    input.form-control(type="text", name="mobileno",maxlength="10",required)
                    label(for="mobileno")  Whatsapp No
                .mb-3.mt-3
                    p.h6 Make sure you join the whatsapp group.
                    a(href="https://chat.whatsapp.com/HDSMtuaEB8E0iioAE0VHAN") Click here to join
                .form-floating.mb-3.mt-3.d-flex
                    button.btn.btn-dark(type="submit").mx-auto  Submit
                    
            
        script(src="./client/event34.js") 
        script(src="./client/three.min.js") 
        script(src="./client/space.js") 