doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        // CSS only
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
        // JavaScript Bundle with Popper
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa' crossorigin='anonymous')
        //green sock
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
        //animate css
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel='stylesheet' href='./client/landing.css')
        title Eareyes
    body 
        header
            .container
                .subcontainer
                nav.navbar
                    a.nav-branding(href='') DEV.
                    ul.nav-menu
                        li.nav-item
                            a.nav-link(href='') Home
                        li.nav-item
                            a.nav-link(href='') About
                        li.nav-item
                            a.nav-link(href='') Contact
                    .hamburger
                        span.bar
                        span.bar
                        span.bar
        section#hero 
            .d-flex.flex-column.my-auto.justify-content-center.align-items-center
                    .d-flex.mx-auto#title
                        p.h1.me-2#event-name Eareyes
                        p.h3.my-auto#hinge 2022
                    .mx-auto#hero-dep 
                        p.h4 Department of Electronics and Instrumentation Engineering
                        p.h4 #{"&"}
                        p.h4 EIE Association
                    img#boom(src="../assets/object.webp")

        section#about
                .d-flex
                    #box
                        p.h2#ah1.my-2 About The Department
                        p.h6#ap1.my-4
                            | The Department of Electronics and Instrumentation
                            | Engineering is offering a full time four year B.E
                            | degree course in Electronics and Instrumentation
                            | Engineering and M.E course in Control and
                            | Instrumentation Engineering. This field of engineering
                            | imparts technical knowledge in the areas of
                            | Electronics Engineering, Biomedical Instrumentation,
                            | Control Systems, Signal and Image Processing,
                            | Embedded Systems, VLSI, Neural Networks and Fuzzy
                            | Logic. Department has sound infrastructural facilities
                            | including separate laboratories like Biomedical
                            | Instrumentation, Virtual Instrumentation, DSP, PLC
                            | and DCS. Competent faculty and established library
                            | are the highlights of theDepartment.
                .d-flex
                    #box
                        p.h2#ah2.my-2 About The Event
                        p.h6#ap2.my-4 National Level Inter College Techinal Symposium hosted by department of electronics and instrumentation engineering in coordination with EIE Association to ensure that any talent shouldn't go unaccounted and to be regarded with reward and recognition. This have always been the motive for SENSONICS throughout the years. So once again on the year 2022 this wonderful platform have been created for intellectual minds to exhibit skills on their area of interest and an opportunity to explore and develop in both Social and technical sides.
                .d-flex
                    #box
                        h2.h2#ah3.my-2 Registration Details
                        p.h6#ap3.my-4
                            | Registration fee for technical and non-technical event will be 250/-per person. 
                            br
                            strong For Queries:
                            br
                            | Dharani Dharan D - +91 9361502532 
                            br
                            | Sree Vadhani M - +91 9344304667
            
        section#events
            .d-flex.flex-column.event1.ss
                p.h2.mb-3#ee Events
                p.h2.mb-3#eh1 sprakle 
                p.h3.mb-3.mx-auto#ehh1 paper presentation 
                p.h5.mb-3.mx-4#ep1 Come amaze us with your unique ideas that aim to make daily life easier and more comfortable.
                button.border.border-rounded.mx-auto.w-25#er register 

            .d-flex.flex-column.event2.ss
                p.h2.mb-3#eh2 yantarang 
                p.h3.mb-3.mx-auto#ehh2 project presentation 
                p.h5.mb-3.mx-4#ep2 Innovation is more than having new ideas: it includes the process of successfully introducing them or making things happen in a new way. It turns ideas into useful, practicable and commercial products or services.
                button.border.border-rounded.mx-auto.w-25#er register 

            .d-flex.flex-column.event3.ss
                p.h2.mb-3#eh3 pseudo magic 
                p.h3.mb-3.mx-auto#ehh3 coding 
                p.h5.mb-3.mx-4#ep3 No matter which field of work you want to go in, it is of great importance to learn at least one programming language.
                button.border.border-rounded.mx-auto.w-25#er register 

            .d-flex.flex-column.event4.ss
                p.h2.mb-3#eh4 circuitron 
                p.h3.mb-3.mx-auto#ehh4 circuit debugging 
                p.h5.mb-3.mx-4#ep4 "Knowledge is power". To test your power in Network theory and Basic Electronics,"Watt" other opportunity better than circuitron.
                button.border.border-rounded.mx-auto.w-25#er register 

            .d-flex.flex-column.event5.ss
                p.h2.mb-3#eh5 sherlock sense 
                p.h3.mb-3.mx-auto#ehh5 mysterey king 
                p.h5.mb-3.mx-4#ep5 Put on your detective hat and Find the hidden clues that will solve the secrets and mystery of a crime case. A treasure hunting adventure awaits for you!
                button.border.border-rounded.mx-auto.w-25#er register 

            .d-flex.flex-column.event6.ss
                p.h2.mb-3#eh6 movie triviya 
                p.h3.mb-3.mx-auto#ehh6 movie
                p.h5.mb-3.mx-4#ep6 compete against others showcase that youre the movie buff.
                button.border.border-rounded.mx-auto.w-25#er register 
        
        section#schedule.vh-100
            p paper presentation - sparkle  9.30-12.30
            p project presention - yantarang 9.30-12.30
            p coding -  pseudo magic - 10.30-11.30
            p circuit debugging - tech: circuitron - 11.30-12.30
            p 12.30-1.30 lunch break
            p mysterey king - sherlock sense- 1.30-2.30
            p movie - movie triviya         -2.30-3.30



        script(src="./client/landing.js") 
        script(src="./client/three.min.js")
        script(src="./client/space.js") 
        