canvas {
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
  }
  @font-face {
    font-family: 'MBF Space';
    src: url('../assets/MBFSpace.eot');
    src: local('MBF Space'), local('MBFSpace'),
        url('../assets/MBFSpace.eot?#iefix') format('embedded-opentype'),
        url('../assets/MBFSpace.woff2') format('woff2'),
        url('../assets/MBFSpace.woff') format('woff'),
        url('../assets/MBFSpace.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  body{
    font-family: "MBF Space";
  }
p, .ru{
  color: cornsilk;
}
#form{
  max-width: 1000px;
}
#mr2,#mr3,#mn2,#mn3,.mem{display: none;}