@import url('https://fonts.cdnfonts.com/css/potra');
@font-face {
  font-family: 'Coax';
  src: local('Coax'), local('Coax-Regular'),
      url('../assets/Coax-Regular.otf') format('truetype');
  font-style: regular;
}
@font-face {
  font-family: 'MBF Space';
  src: url('../assets/MBFSpace.eot');
  src: local('MBF Space'), local('MBFSpace'),
      url('../assets/MBFSpace.eot?#iefix') format('embedded-opentype'),
      url('../assets/MBFSpace.woff2') format('woff2'),
      url('../assets/MBFSpace.woff') format('woff'),
      url('../assets/MBFSpace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*------------------------------------------
 space wrap canvas 
 -------------------------------------------*/
 canvas {
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
  }
/* ---------------------------
general
------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
  }


  /* ---------------------------
nav
------------------------------ */
  header {
    top: 0;
    position:relative;
    display: block;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'MBF Space';
  }

  li {
    list-style: none;
  }
  
  a {
    color: rgb(226, 226, 226);
    text-decoration: none;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }
  
  .subcontainer {
    width: 85%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    color: cornsilk;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-branding {
    font-size: 2rem;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgb(255, 253, 253);
  }

  @media(max-width:1600px) {
    .container {
      width: 100%;
    }
  }
  
  @media(max-width:900px) {
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 50px;
      gap: 0;
      flex-direction: column;
      background-color: rgb(0, 0, 0);
      width: 100%;
      text-align: center;
     overflow: hidden;
    }
  
    .nav-item {
      margin: 16px 0;
      color: cornsilk;
      overflow: hidden;
    }
  
    .nav-menu.active {
      left: 0;
    }
  }
  /* ---------------------------
hero
------------------------------ */
  #hero {
    margin-top: 50px;
    min-height: 100vh;
    border: 1px solid black;
    color:cornsilk ;
  }
  
  
  #event-name{
    font-size: 12vw;
    font-weight: 20%;
    font-family: 'MBF Space';
     overflow: hidden;
   }
   #hinge{
    font-size: 11vw;
    font-weight: 20%;
    font-family: 'MBF Space';
     overflow: hidden;
   }
  
#hero-dep{
    font-size: 3vw;
    overflow: hidden;
    text-align:center;
    font-family: 'Potra', sans-serif;
  }
        /* the fying hero */

        #boom{
            position: absolute;
            top:3.5%;
            right: 100%;
            max-width: 30%;
            max-height: 50%;
            }

 /*-------------------------------------- 
about
 -------------------------------------------*/
 #about {color: cornsilk;
    border: 1px solid black;
    padding: 15px;
    padding-left: 15px;
    overflow: hidden;
    font-size: 3px;
  }
  #about .h2{font-family: 'MBF Space';
  }
#about .h6{
  font-family: 'Coax';
}

   /*-------------------------------------- 
events
 -------------------------------------------*/
 #events{
  font-family: "MBF Space";
 }
 .ss{
    background-repeat: no-repeat;
height: auto;background-size: cover; 
width: 70vw;
margin: auto;
margin-bottom: 10px;
 }
 
 
 .event1{background-image: url("https://cdn.create.vista.com/api/media/medium/461285704/stock-photo-abstract-polygonal-background-pastel-colors?token=");}
  .event2{color: whitesmoke;
    background-image: url("https://cdn.wallpapersafari.com/58/58/n6HC9s.jpg");
 }
.event3{
    background-image: url("https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2021%2F12%2Fkeyboard.jpg&signature=54d01c300348d214a4637cc3f9512772");
color: whitesmoke;
}
.event4{
    background-image: url("https://1.bp.blogspot.com/-7XX4EALtmpg/YBMbGiT1ymI/AAAAAAAAeZY/8h760GMBkzM5eTqRhOBTq9Qec7pJj7ZzQCLcBGAsYHQ/s16000/heroscreen.cc-V1-01282021-CIRCUIT-HD.png");
    color: whitesmoke; 
   
}
.event5{
    background-image: url("../assets/sherlock-holmes-concept-etiqueta-de-madera-de-tools-del-detective-privado-65190121.png");
    color:whitesmoke;
}
.event6{
    background-image: url("https://img.freepik.com/free-vector/colorful-background-with-wave-lines_1017-33501.jpg?w=2000");
color: whitesmoke;}
@media(max-width:500px) {
    .event4{background-image:url("https://1.bp.blogspot.com/-sMYtBAPkrms/YBMdUEXIx_I/AAAAAAAAeZg/FErofYz40Sgdk9f4xtEbgPwdgGx9PJHQQCLcBGAsYHQ/d/heroscreen.cc-V1-01282021-circuit-board-HD.png");
}}
@media(max-width:501px) {
    .event5{background-image:url("../assets/concept-image-investigation-private-detective-fedora-hat-magnifying-glass-vintage-items-over-wooden-table-168724919.png");}
}
 #ee{
    margin-top: 70px;
   margin-bottom: 20vh;
    font-size: 300%;
    color: cornsilk;
   }
   #eh{
    font-size: 250%;
   }
   #eh1{
    font-size: 200%;
   }
   #ep{
    font-size: 100%;
   }
   #er1,#er2,#er3,#er4,#er5,#er6{
    font-size: 2vh;
    font-weight: 50%;
   }
   #er2,#er3,#er4,#er5{
    color:whitesmoke
   }
#er1{
  color: black;
}
   /* schedule */
   #schedule{
    color: cornsilk;
   }
   #schedule{
  font-family: "MBF Space";
   }
   @media (max-width:400px) {
    #schedule .se{
      float: right;
    }
   }
   @media (min-width:401px) {
   .spin{ text-align: center;
   } 
   }
/* dev */
#dev{
  color: cornsilk;
}
.dd,.gt{
  font-family: 'Potra', sans-serif;
}
.creator{
  font-family: 'MBF Space';font-size: 5vw;
}
@media (max-width:500px){.creator{font-size: 18vw;}}
.dd1,.ddb,.creator{
  text-align:center;
}
   .social{
    display: block;
    height: 35px;
    width: 35px;
   }